apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: factorio
  namespace: argocd
spec:
  project: default
  destination:
    namespace: factorio
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/manamana32321/homelab.git
    path: argocd/applications/factorio/manifests
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
