# Terraform variables
export TF_VAR_cloudflare_account_id="d99bb67d7bf0e7355a4e5e92c75904ee"
export TF_VAR_zone_name="json-server.win"

# Load secrets from .envrc.local (gitignored)
source_env_if_exists .envrc.local
