# Cloudflare API Token (for Terraform)
export TF_VAR_cloudflare_api_token=""

# AWS credentials (S3 backend + aws/ Terraform provider)
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""

# Default IP for A records (dynamic IP)
export TF_VAR_default_ip=""
