grafana:
  enabled: false

prometheus:
  ingress:
    enabled: true
    hosts:
      - prometheus.json-server.win
    paths:
      - /
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-dns01
      traefik.ingress.kubernetes.io/redirect-entry-point: https
    ingressClassName: traefik
    tls:
      - hosts:
          - prometheus.json-server.win
        secretName: prometheus-tls
