# hostNetwork 활성화 (LAN 게임 검색용)
hostNetworkEnabled: true

image:
  tag: "2.0.73"

service:
  type: NodePort
  port: 30197

resources:
  requests:
    memory: 1024Mi
  limits:
    memory: 2048Mi
    cpu: 1000m

persistence:
  dataDir:
    Size: "4Gi"

factorioServer:
  save_name: "default"

serverPassword:
  passwordSecret: factorio-server-password

server_settings:
  name: "JSON"
  description: "JSON Factorio Space Age Server"
  tags:
    - space-age
    - private
  autosave_slots: 20

rcon:
  external: false

map_gen_settings:
  autoplace_controls:
    coal:
      size: 6
    stone:
      size: 6
    copper-ore:
      size: 6
    iron-ore:
      size: 6
    uranium-ore:
      size: 6
    crude-oil:
      size: 6
