apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aws-credentials
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/skkuding/lab
    targetRevision: main
    path: k8s/aws-credentials
  destination:
    server: https://kubernetes.default.svc
    namespace: aws-credentials
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
