mode: standalone
replicas: 1
existingSecret: minio-credentials
persistence:
  enabled: true
  size: 10Gi
resources:
  requests:
    memory: 128Mi
    cpu: 50m
  limits:
    memory: 512Mi
    cpu: 200m
